button{
    border-radius: 2vw;
    background-color: rgb(205, 211, 90);
    color: black;
    border: none;
    height: 6vh;
    width: 8vw;
    font-size: 1.5rem;
    margin-top: 5vh;
}

form input{
    border-radius: 2vw;
    height: 6vh;
    border: none;
    font-size: 1.5rem;
    padding-left: 1vw;
}

.image-side{
    margin:0px;
    background: url("../images/background.svg");
    width: 40%;
    height: 100vh;
}

.info-side{
    width: 60vw;
    height: 100vh;
    flex-direction: column;
}

.space{
    margin-bottom: 2vh;
}

.main-frame{
    height: 20vh;
    width: 80%;
    border-radius: 2vh;
    background-color: rgb(46, 46, 46);
}

.message-frame{
    padding-left: 5vw;
    width: 30vw;
    border-radius: 2vh 0px 0px 2vh;
    font-size: 2rem;
}

.message-frame p {
    color: rgb(56, 131, 71);
    font-size: 2.5rem;
    font-weight: 700;
}