body {
    background-color: rgb(32, 32, 32);

}

button{
    border-radius: 2vw;
    background-color: rgb(75, 141, 83);
    color: rgb(230, 230, 230);
    border: none;
    height: 8vh;
    width: 12vw;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1vh;
}

form input{
    border-radius: 2vw;
    height: 6vh;
    border: none;
    font-size: 1.5rem;
    padding-left: 1vw;
}

.image-side{
    margin:0px;
    background: url("../images/background-auth.svg");
    width: 40%;
    height: 100vh;
}

.info-side{
    width: 60vw;
    height: 100vh;
    flex-direction: column;
}

.space{
    margin-bottom: 2vh;
}

.main-frame{
    height: 25vh;
    width: 80%;
    border-radius: 2vh;
    background-color: rgb(46, 46, 46);
}

.message-frame{
    padding-left: 5vw;
    width: 30vw;
    border-radius: 2vh 0px 0px 2vh;
}

.message-frame p {
    color: rgb(230, 230, 230);
    font-size: 4rem;
    font-weight: 700;
}