body{
    margin: 0px;
    padding: 0px;
}

p{
    margin: 0px;
    padding: 0px;
    color: beige;
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plate {
    background-color: rgb(32, 32, 32);
    border-radius: 2vw;
}

.profile-plate {
    background-color: rgba(0, 0, 0, 0.135);
    border-radius: 1vw;
    width: 20vw;
    height:7vh;
    margin: 2vh;
}

.profile-plate div p {
    color: aliceblue;
    font-size: 1.5rem;
    width: calc(100%-40px);
}

.avatar {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1vw;
}

