body{
    margin: 0px;
    padding: 0px;
}

p{
    margin: 0px;
    padding: 0px;
    color: beige;
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plate {
    background-color: rgb(32, 32, 32);
    border-radius: 2vw;
}