<div class="dialogs-list container">
    <p>Dialogs</p>
    <div>
        <div>
            <img src="" alt="">
            <p>Phriy</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Jhon</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Lessly</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Adam</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Qween</p>
        </div>
    </div>
</div>